{{ 'component-main-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.image %}
  <div class="img-banner" id="{{ section.id }}">
    {{
      section.settings.image
      | image_url: width: section.settings.image.width
      | image_tag:
        widths: '375,750,1100,1500,1780,2000,2400,2600,2800,3000,3200,3400,3600,3800,4000',
        alt: 'This is a main banner image',
        sizes: '100vw',
        class: 'img'
    }}
    <div class="banner-content">
      <p class="banner-title">{{ section.settings.title }}</p>
      <p class="banner-subtitle">{{ section.settings.subtitle }}</p>
    </div>
  </div>
{% endif %}

<style>
    .img-banner {
      position: relative;
      width: 100%;
      height: 950px;
      overflow: hidden;
    }

    #{{ section.id }} img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .banner-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
  }

  .banner-title {
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
    padding-left: {{ section.settings.range-option }}px;
    text-align: {{ section.settings.text-align }};
  }

  .banner-subtitle {
    font-size: 3rem;
    margin: 0;
    padding-left: {{ section.settings.range-option }}px;
    text-align: {{ section.settings.text-align }};
  }
</style>

{% schema %}
{
  "name": "Main Banner",
  "tag": "section",
  "limit": 2,
  "class": "main",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "placeholder": "This is my shopify"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "placeholder": "Create your own"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "range-option",
      "label": "Padding",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 0
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "main-banner",
      "name": "Main Banner",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Banner"
    }
  ]
}
{% endschema %}
