{{ 'component-main-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.image %}
  <div class="img-banner" id="{{ section.id }}">
    {{
      section.settings.image
      | image_url: width: section.settings.image.width
      | image_tag:
        widths: '100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000',
        alt: 'This is a main banner image',
        sizes: '100vw',
        class: 'img',
        loading: 'eager'
    }}
    <text-banner>
      <div class="banner-content">
        <div class="banner">{{ section.settings.title }}</div>
        <p class="banner">{{ section.settings.subtitle }}</p>
      </div>
      <div class="banner-button" id="{{section.id}}">
        <button>Shop Now</button>
      </div>
    </text-banner>
    <div class="achievement-content" id="{{section.id}}">
      {% content_for "blocks" %}
    </div>
  </div>
{% endif %}

<style>
    #{{ section.id }} img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    #{{ section.id }} button {
      background-color: #000;
      color: #fff;
      height: 3em;
      width: 10em;
      border: none;
      border-radius: 30px;
      cursor: pointer;
    }

    .banner-button {
      padding: {{ section.settings.range-option }}px;
      position: absolute;
      bottom: 10%;
      display: flex;
      justify-content: start;
      width: 100%;
    }

    .img-banner {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: {{ section.settings.range-option }}px;
      }

      .achievement-content {
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
     .banner-content {
        container-type: inline-size;
        container-name: banner-container;
      }
     .banner:first-child {
        position: absolute;
        width: 100%;
        -webkit-line-clamp: 2 !important;
        left: 0;
        font-weight: bold;
        line-height: 0.5;
        margin: 0;
        padding: {{ section.settings.range-option }}px;
        text-align: {{ section.settings.text-align }};
        color: {{ section.settings.color-title }};
        transition-delay: 0.1s;
        transition: 0.3s linear;
        animation: bounce-in-top 1s both;
    }
      .banner:last-child {
        width: 50%;
        position: absolute;
        left: 0;
        margin: 0;
        padding: {{ section.settings.range-option }}px;
        text-align: {{ section.settings.text-align }};
        color: {{ section.settings.color-title }};
        transition-delay: 0.1s;
        transition: 0.3s linear;
        animation: bounce-in-top 1s both;
    }


    @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
</style>

{% style %}
  @container banner-container (max-width: 992px) {
    .banner:first-child {
      font-size: 5rem !important;
      top: 10vh;
    }
    .banner:last-child {
      font-size: 2rem;
      top: 35vh;
    }
  }

  @container banner-container (min-width: 993px) {
    .banner:first-child {
      font-size: 7rem !important;
      top: 10vh;
    }
    .banner:last-child {
      font-size: 2rem;
      top: 50vh;
    }
  }
{% endstyle %}

<script>
  {
    {
      'main-banner.js' | asset_url;
    }
  }
  defer;
</script>
{% schema %}
{
  "name": "Main Banner",
  "tag": "section",
  "limit": 2,
  "class": "main",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "placeholder": "Create your own"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "range-option",
      "label": "Padding",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 0
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "color-title",
      "label": "Title Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color-subtitle",
      "label": "Subtitle Color",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "achivement"
    }
  ],
  "presets": [
    {
      "name": "Main Banner"
    }
  ]
}
{% endschema %}
